<!DOCTYPE html>
<html>
<head>
    <title>Event Combo Generator</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
        }
        table, th, td {
            border: 1px solid #888;
            border-collapse: collapse;
            padding: 4px;
        }
        th {
            background: #eee;
        }
        .highlight {
            background-color: rgb(197, 227, 188);
        }
        .partner {
            background-color: rgb(222, 247, 222);
        }
    </style>
</head>
<body>
<h2>Event Combo Generator</h2>
<p>
    Export a session report from Meet Maestro. (In a Maestro meet, click Settings -> Reports -> Session Report)<br>
    Select the number of lanes for your pool.<br>
    Choose your preferred combo strategy.  More aggressive = more combos.<br>
    <br>
    Works with:
    <ul>
        <li>Print -> "Save to PDF" in Chrome, Firefox, and Edge</li>
        <li>"Microsoft Print to PDF" printer (Windows 10/11)</li>
    </ul>
   If you get no results after uploading, try a different method of exporting the PDF.
</p>
<form action="/combo-generator" method="post" enctype="multipart/form-data">
    <p><label for="pdf">Session Report PDF:</label>
    <input type="file" name="pdf" accept=".pdf" required></p>
   <p><label for="lanes">Pool Lanes:</label>
    <select name="lanes" required>
        {% for l in range(4, 9) %}
        <option value="{{ l }}" {% if lanes == l %}selected{% endif %}>{{ l }}</option>
        {% endfor %}
    </select></p>
    <p><label for="aggressiveness">Combo Strategy:</label>
        <select name="aggressiveness" id="aggressiveness">
            <option value="1" selected>Aggressive (1+ swimmer per combined heat)</option>
            <option value="2">Neutral (2+ swimmers per combined heat)</option>
            <option value="3">Conservative (3+ swimmers per combined heat)</option>
        </select>
    </p>
    <p><button type="submit">Generate combos</button></p>
</form>

{% if table %}
<hr>
<h3>{{ meet_title }}</h3>
<p><strong>Total combo event pairs: {{ combo_count }}</strong></p>
<p>
    Combos only: <a href="{{ url_for('download', filename=csv_filename) }}">Download CSV</a> |
    <a href="{{ url_for('download', filename=pdf_filename) }}">Download PDF</a>
</p>

<table>
    <thead>
    <tr>
        {% for key in table[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table %}
    <tr class="
        {% if row['Can Combine?'] == 'Yes' %}highlight
        {% elif row['_highlight_partner'] %}partner
        {% endif %}
    ">
        {% for key, val in row.items() %}
            {% if not key.startswith('_') %}
                <td>{{ val }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</body>
</html>