<style>
    @page {
        size: Letter;
        margin: 0.5in;
    }
</style>
<h3>Fast Fishy Awards<br>{{ meet_title }}</h3>
<div class="label-preview">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Award</th>
            <th>Total Drop</th>
            <th>Meet Date</th>
            <th>Meet Title</th>
        </tr>
        </thead>
        <tbody>
        {% for label in label_data %}
        <tr>
            <td>{{ label[0] }}</td>
            <td>{{ label[1] }}</td>
            <td>{{ label[2] }}</td>
            <td>{{ label[3] }}</td>
            <td>{{ label[4] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h3>Full Rankings by Age Group</h3>

{% for age, swimmers in rankings.items() %}
<h4>Age Group: {{ age }}</h4>
<table>
    <thead>
    <tr><th>Swimmer</th><th>Total Drop</th></tr>
    </thead>
    <tbody>
    {% for swimmer in swimmers %}
    <tr>
        <td>{{ swimmer.name }}</td>
        <td>{{ swimmer.drop }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}