<div class="label-preview">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Age Group</th>
            <th>Triple Drop</th>
            <th>Meet Date</th>
            <th>Meet Name</th>
        </tr>
        </thead>
        <tbody>
        {% for label in label_data %}
        <tr>
            <td>{{ label[0] }}</td>
            <td>{{ label[1] }}</td>
            <td>{{ label[2] }}</td>
            <td>{{ label[3] }}</td>
            <td>{{ label[4] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>